which python
which antlr4
java -versionoracleJdk-26.jdk/Contents/CodeResources
oracleJdk-26.jdk/Contents/Info.plist
oracleJdk-26.jdk/Contents/_CodeSignature/CodeResources
oracleJdk-26.jdk/Contents/Home/LICENSE
oracleJdk-26.jdk/Contents/Home/README
oracleJdk-26.jdk/Contents/Home/release
oracleJdk-26.jdk/Contents/Home/bin/jar
oracleJdk-26.jdk/Contents/Home/bin/jarsigner
oracleJdk-26.jdk/Contents/Home/bin/java
oracleJdk-26.jdk/Contents/Home/bin/javac
oracleJdk-26.jdk/Contents/Home/bin/javadoc
oracleJdk-26.jdk/Contents/Home/bin/javap
oracleJdk-26.jdk/Contents/Home/bin/jcmd
oracleJdk-26.jdk/Contents/Home/bin/jconsole
oracleJdk-26.jdk/Contents/Home/bin/jdb
oracleJdk-26.jdk/Contents/Home/bin/jdeprscan
oracleJdk-26.jdk/Contents/Home/bin/jdeps
oracleJdk-26.jdk/Contents/Home/bin/jfr
oracleJdk-26.jdk/Contents/Home/bin/jhsdb
oracleJdk-26.jdk/Contents/Home/bin/jimage
oracleJdk-26.jdk/Contents/Home/bin/jinfo
oracleJdk-26.jdk/Contents/Home/bin/jlink
oracleJdk-26.jdk/Contents/Home/bin/jmap
oracleJdk-26.jdk/Contents/Home/bin/jmod
oracleJdk-26.jdk/Contents/Home/bin/jnativescan
oracleJdk-26.jdk/Contents/Home/bin/jpackage
oracleJdk-26.jdk/Contents/Home/bin/jps
oracleJdk-26.jdk/Contents/Home/bin/jshell
oracleJdk-26.jdk/Contents/Home/bin/jstack
oracleJdk-26.jdk/Contents/Home/bin/jstat
oracleJdk-26.jdk/Contents/Home/bin/jstatd
oracleJdk-26.jdk/Contents/Home/bin/jwebserver
oracleJdk-26.jdk/Contents/Home/bin/keytool
oracleJdk-26.jdk/Contents/Home/bin/rmiregistry
oracleJdk-26.jdk/Contents/Home/bin/serialver
oracleJdk-26.jdk/Contents/Home/conf/jaxp-strict.properties.template
oracleJdk-26.jdk/Contents/Home/conf/jaxp.properties
oracleJdk-26.jdk/Contents/Home/conf/logging.properties
oracleJdk-26.jdk/Contents/Home/conf/net.properties
oracleJdk-26.jdk/Contents/Home/conf/sound.properties
oracleJdk-26.jdk/Contents/Home/conf/management/jmxremote.access
oracleJdk-26.jdk/Contents/Home/conf/management/jmxremote.password.template
oracleJdk-26.jdk/Contents/Home/conf/management/management.properties
oracleJdk-26.jdk/Contents/Home/conf/security/java.security
oracleJdk-26.jdk/Contents/Home/conf/security/policy/README.txt
oracleJdk-26.jdk/Contents/Home/conf/security/policy/limited/default_local.policy
oracleJdk-26.jdk/Contents/Home/conf/security/policy/limited/default_US_export.policy
oracleJdk-26.jdk/Contents/Home/conf/security/policy/limited/exempt_local.policy
oracleJdk-26.jdk/Contents/Home/conf/security/policy/unlimited/default_local.policy
oracleJdk-26.jdk/Contents/Home/conf/security/policy/unlimited/default_US_export.policy
oracleJdk-26.jdk/Contents/Home/include/classfile_constants.h
oracleJdk-26.jdk/Contents/Home/include/jawt.h
oracleJdk-26.jdk/Contents/Home/include/jdwpTransport.h
oracleJdk-26.jdk/Contents/Home/include/jni.h
oracleJdk-26.jdk/Contents/Home/include/jvmti.h
oracleJdk-26.jdk/Contents/Home/include/jvmticmlr.h
oracleJdk-26.jdk/Contents/Home/include/darwin/jawt_md.h
oracleJdk-26.jdk/Contents/Home/include/darwin/jni_md.h
oracleJdk-26.jdk/Contents/Home/jmods/java.base.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.compiler.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.datatransfer.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.desktop.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.instrument.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.logging.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.management.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.management.rmi.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.naming.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.net.http.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.prefs.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.rmi.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.scripting.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.se.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.security.jgss.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.security.sasl.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.smartcardio.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.sql.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.sql.rowset.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.transaction.xa.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.xml.crypto.jmod
oracleJdk-26.jdk/Contents/Home/jmods/java.xml.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.accessibility.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.attach.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.charsets.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.compiler.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.crypto.cryptoki.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.crypto.ec.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.dynalink.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.editpad.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.graal.compiler.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.graal.compiler.management.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.hotspot.agent.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.httpserver.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.incubator.vector.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.internal.ed.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.internal.jvmstat.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.internal.le.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.internal.md.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.internal.opt.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.internal.vm.ci.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jartool.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.javadoc.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jcmd.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jconsole.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jdeps.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jdi.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jdwp.agent.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jfr.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jlink.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jpackage.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jshell.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.jstatd.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.localedata.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.management.agent.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.management.jfr.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.management.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.naming.dns.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.naming.rmi.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.net.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.nio.mapmode.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.sctp.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.security.auth.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.security.jgss.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.unsupported.desktop.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.unsupported.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.xml.dom.jmod
oracleJdk-26.jdk/Contents/Home/jmods/jdk.zipfs.jmod
oracleJdk-26.jdk/Contents/Home/legal/java.base/c-libutl.md
oracleJdk-26.jdk/Contents/Home/legal/java.base/cldr.md
oracleJdk-26.jdk/Contents/Home/legal/java.base/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.base/icu.md
oracleJdk-26.jdk/Contents/Home/legal/java.base/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.base/public_suffix.md
oracleJdk-26.jdk/Contents/Home/legal/java.base/siphash.md
oracleJdk-26.jdk/Contents/Home/legal/java.base/unicode.md
oracleJdk-26.jdk/Contents/Home/legal/java.base/zlib.md
oracleJdk-26.jdk/Contents/Home/legal/java.compiler/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.compiler/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.datatransfer/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.datatransfer/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/colorimaging.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/freetype.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/giflib.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/harfbuzz.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/jpeg.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/lcms.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/libpng.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/mesa3d.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/pipewire.md
oracleJdk-26.jdk/Contents/Home/legal/java.desktop/xwd.md
oracleJdk-26.jdk/Contents/Home/legal/java.instrument/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.instrument/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.logging/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.logging/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.management/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.management/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.management.rmi/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.management.rmi/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.naming/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.naming/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.net.http/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.net.http/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.prefs/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.prefs/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.rmi/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.rmi/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.scripting/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.scripting/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.se/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.se/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.security.jgss/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.security.jgss/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.security.sasl/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.security.sasl/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.smartcardio/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.smartcardio/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.smartcardio/pcsclite.md
oracleJdk-26.jdk/Contents/Home/legal/java.sql/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.sql/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.sql.rowset/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.sql.rowset/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.transaction.xa/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.transaction.xa/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.xml/bcel.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.xml/dom.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/jcup.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.xml/schema10part1.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/schema10part2.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xalan.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xerces.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xhtml10.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xhtml10schema.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xhtml11.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xhtml11schema.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xmlspec.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml/xmlxsd.md
oracleJdk-26.jdk/Contents/Home/legal/java.xml.crypto/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/java.xml.crypto/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/java.xml.crypto/santuario.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.accessibility/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.accessibility/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.attach/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.attach/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.charsets/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.charsets/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.compiler/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.compiler/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.crypto.cryptoki/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.crypto.cryptoki/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.crypto.cryptoki/pkcs11cryptotoken.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.crypto.cryptoki/pkcs11wrapper.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.crypto.ec/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.crypto.ec/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.dynalink/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.dynalink/dynalink.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.dynalink/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.editpad/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.editpad/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.graal.compiler/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.graal.compiler/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.graal.compiler.management/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.graal.compiler.management/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.hotspot.agent/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.hotspot.agent/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.httpserver/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.httpserver/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.incubator.vector/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.incubator.vector/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.ed/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.ed/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.jvmstat/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.jvmstat/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.le/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.le/jline.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.le/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.md/commonmark.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.md/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.md/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.opt/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.opt/jopt-simple.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.opt/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.vm.ci/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.internal.vm.ci/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jartool/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jartool/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.javadoc/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.javadoc/dejavufonts.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.javadoc/highlightjs.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.javadoc/jquery.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.javadoc/jqueryUI.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.javadoc/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jcmd/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jcmd/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jconsole/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jconsole/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jdeps/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jdeps/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jdi/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jdi/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jdwp.agent/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jdwp.agent/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jfr/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jfr/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jlink/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jlink/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jpackage/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jpackage/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jshell/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jshell/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.jstatd/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.jstatd/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.localedata/cldr.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.localedata/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.localedata/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.localedata/thaidict.md
oracleJdk-26.jdk/Contents/Home/legal/jdk.management/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.management/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.management.agent/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.management.agent/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.management.jfr/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.management.jfr/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.naming.dns/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.naming.dns/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.naming.rmi/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.naming.rmi/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.net/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.net/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.nio.mapmode/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.nio.mapmode/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.sctp/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.sctp/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.security.auth/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.security.auth/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.security.jgss/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.security.jgss/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.unsupported/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.unsupported/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.unsupported.desktop/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.unsupported.desktop/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.xml.dom/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.xml.dom/LICENSE
oracleJdk-26.jdk/Contents/Home/legal/jdk.zipfs/COPYRIGHT
oracleJdk-26.jdk/Contents/Home/legal/jdk.zipfs/LICENSE
oracleJdk-26.jdk/Contents/Home/lib/classlist
oracleJdk-26.jdk/Contents/Home/lib/ct.sym
oracleJdk-26.jdk/Contents/Home/lib/fontconfig.bfc
oracleJdk-26.jdk/Contents/Home/lib/fontconfig.properties.src
oracleJdk-26.jdk/Contents/Home/lib/jrt-fs.jar
oracleJdk-26.jdk/Contents/Home/lib/jspawnhelper
oracleJdk-26.jdk/Contents/Home/lib/jvm.cfg
oracleJdk-26.jdk/Contents/Home/lib/libattach.dylib
oracleJdk-26.jdk/Contents/Home/lib/libawt_lwawt.dylib
oracleJdk-26.jdk/Contents/Home/lib/libawt.dylib
oracleJdk-26.jdk/Contents/Home/lib/libdt_socket.dylib
oracleJdk-26.jdk/Contents/Home/lib/libextnet.dylib
oracleJdk-26.jdk/Contents/Home/lib/libfontmanager.dylib
oracleJdk-26.jdk/Contents/Home/lib/libfreetype.dylib
oracleJdk-26.jdk/Contents/Home/lib/libinstrument.dylib
oracleJdk-26.jdk/Contents/Home/lib/libj2gss.dylib
oracleJdk-26.jdk/Contents/Home/lib/libj2pcsc.dylib
oracleJdk-26.jdk/Contents/Home/lib/libj2pkcs11.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjaas.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjava.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjavajpeg.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjawt.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjdwp.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjimage.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjli.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjsig.dylib
oracleJdk-26.jdk/Contents/Home/lib/libjsound.dylib
oracleJdk-26.jdk/Contents/Home/lib/liblcms.dylib
oracleJdk-26.jdk/Contents/Home/lib/libmanagement_agent.dylib
oracleJdk-26.jdk/Contents/Home/lib/libmanagement_ext.dylib
oracleJdk-26.jdk/Contents/Home/lib/libmanagement.dylib
oracleJdk-26.jdk/Contents/Home/lib/libmlib_image.dylib
oracleJdk-26.jdk/Contents/Home/lib/libnet.dylib
oracleJdk-26.jdk/Contents/Home/lib/libnio.dylib
oracleJdk-26.jdk/Contents/Home/lib/libosx.dylib
oracleJdk-26.jdk/Contents/Home/lib/libosxapp.dylib
oracleJdk-26.jdk/Contents/Home/lib/libosxkrb5.dylib
oracleJdk-26.jdk/Contents/Home/lib/libosxsecurity.dylib
oracleJdk-26.jdk/Contents/Home/lib/libosxui.dylib
oracleJdk-26.jdk/Contents/Home/lib/libprefs.dylib
oracleJdk-26.jdk/Contents/Home/lib/librmi.dylib
oracleJdk-26.jdk/Contents/Home/lib/libsaproc.dylib
oracleJdk-26.jdk/Contents/Home/lib/libsleef.dylib
oracleJdk-26.jdk/Contents/Home/lib/libsplashscreen.dylib
oracleJdk-26.jdk/Contents/Home/lib/libsyslookup.dylib
oracleJdk-26.jdk/Contents/Home/lib/libverify.dylib
oracleJdk-26.jdk/Contents/Home/lib/libzip.dylib
oracleJdk-26.jdk/Contents/Home/lib/modules
oracleJdk-26.jdk/Contents/Home/lib/psfont.properties.ja
oracleJdk-26.jdk/Contents/Home/lib/psfontj2d.properties
oracleJdk-26.jdk/Contents/Home/lib/shaders.metallib
oracleJdk-26.jdk/Contents/Home/lib/src.zip
oracleJdk-26.jdk/Contents/Home/lib/tzdb.dat
oracleJdk-26.jdk/Contents/Home/lib/jfr/default.jfc
oracleJdk-26.jdk/Contents/Home/lib/jfr/profile.jfc
oracleJdk-26.jdk/Contents/Home/lib/security/blocked.certs
oracleJdk-26.jdk/Contents/Home/lib/security/cacerts
oracleJdk-26.jdk/Contents/Home/lib/security/public_suffix_list.dat
oracleJdk-26.jdk/Contents/Home/lib/server/classes_coh.jsa
oracleJdk-26.jdk/Contents/Home/lib/server/classes_nocoops_coh.jsa
oracleJdk-26.jdk/Contents/Home/lib/server/classes_nocoops.jsa
oracleJdk-26.jdk/Contents/Home/lib/server/classes.jsa
oracleJdk-26.jdk/Contents/Home/lib/server/libjsig.dylib
oracleJdk-26.jdk/Contents/Home/lib/server/libjvm.dylib
oracleJdk-26.jdk/Contents/Home/man/man1/jar.1
oracleJdk-26.jdk/Contents/Home/man/man1/jarsigner.1
oracleJdk-26.jdk/Contents/Home/man/man1/java.1
oracleJdk-26.jdk/Contents/Home/man/man1/javac.1
oracleJdk-26.jdk/Contents/Home/man/man1/javadoc.1
oracleJdk-26.jdk/Contents/Home/man/man1/javap.1
oracleJdk-26.jdk/Contents/Home/man/man1/jcmd.1
oracleJdk-26.jdk/Contents/Home/man/man1/jconsole.1
oracleJdk-26.jdk/Contents/Home/man/man1/jdb.1
oracleJdk-26.jdk/Contents/Home/man/man1/jdeprscan.1
oracleJdk-26.jdk/Contents/Home/man/man1/jdeps.1
oracleJdk-26.jdk/Contents/Home/man/man1/jfr.1
oracleJdk-26.jdk/Contents/Home/man/man1/jhsdb.1
oracleJdk-26.jdk/Contents/Home/man/man1/jinfo.1
oracleJdk-26.jdk/Contents/Home/man/man1/jlink.1
oracleJdk-26.jdk/Contents/Home/man/man1/jmap.1
oracleJdk-26.jdk/Contents/Home/man/man1/jmod.1
oracleJdk-26.jdk/Contents/Home/man/man1/jnativescan.1
oracleJdk-26.jdk/Contents/Home/man/man1/jpackage.1
oracleJdk-26.jdk/Contents/Home/man/man1/jps.1
oracleJdk-26.jdk/Contents/Home/man/man1/jshell.1
oracleJdk-26.jdk/Contents/Home/man/man1/jstack.1
oracleJdk-26.jdk/Contents/Home/man/man1/jstat.1
oracleJdk-26.jdk/Contents/Home/man/man1/jstatd.1
oracleJdk-26.jdk/Contents/Home/man/man1/jwebserver.1
oracleJdk-26.jdk/Contents/Home/man/man1/keytool.1
oracleJdk-26.jdk/Contents/Home/man/man1/rmiregistry.1
oracleJdk-26.jdk/Contents/Home/man/man1/serialver.1
oracleJdk-26.jdk/Contents/MacOS/libjli.dylib
